<html>

<head>


</head>
</head>


<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Search</a>
                <a class="nav-item nav-link" href="#">Create</a>
                <a class="nav-item nav-link disabled" href="#">Admin</a>
            </div>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Event Management System</h1>
            <p class="lead">HKBU Event Management System is a web-based system for department and student societies to
                broadcast events and activities as well as registration.</p>
        </div>
    </div>
    <div class="card"><br>
        <h5 class="card-title">Card title</h5>
        <div class="card-body">
            <div class="row">
                <img class="card-img-top col-4" src="" alt="Card image cap">
                <div class="col-8">
                    <ul class="list-group">
                        <li class="list-group-item">Organizer</li>
                        <li class="list-group-item">Date</li>
                        <li class="list-group-item">Time</li>
                        <li class="list-group-item">Venue</li>
                        <li class="list-group-item">Quota</li>
                    </ul>
                </div>
            </div>
        </div>

</body>

</html>